@{
    ViewData["Title"] = "Home Page";
}

<aside>
    <p>Try the app for managing debtors with Jason's account</p>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@Url.Action("Debtors")" method="post">
        <div class="form-group">
            <input type="hidden" name="Email" value="jason@mail.com" />
            <input type="hidden" name="Password" value="jason1" />
            <button type="submit" class="btn btn-default">Log in as Jason</button>
        </div>
    </form>
</aside>

<article>
    <h1>How to save more money?</h1>
    <blockquote>
        <p><b>Don't tell me what you value, show me your budget, and I'll tell you what you value.</b></p>
        <footer>
            <cite><b><a href="https://www.dailyworth.com/posts/2879-25-powerful-quotes-on-saving/6">Joe Biden</a></b></cite>
            <figure><img src="https://pbs.twimg.com/profile_images/2709479953/b90b51036b865f1eb20a0e372cdea228_reasonably_small.jpeg" alt="Joe Biden" /></figure>
        </footer>
    </blockquote>
    <p>
        <b>
            Starting a new year short on money is not what most people want.
            When you have insufficient funds, it’s time to start thinking smarter!
        </b>
    </p>

    <section>
        <h1>Stay smart when shopping</h1>
        <p>
            Try to make some time to go trough local shop magazines to <em>discover discounts</em>.
            Take the difference you make purchasing these products and add it to your
            "saved" money account.
            <ul>
                <li>
                    Spending money <i>first</i> on <em>essentials</em> (food, water, clothing and shelter)
                    and <i>last</i> on <em>luxuries</em>.
                </li>
                <li>
                    Saving for <a href="https://www.moneyadviceservice.org.uk/en/articles/emergency-savings-how-much-is-enough">emergency fund</a> for unexpected occasions or when you lose
                    your primary monthly income.
                </li>
                <li>
                    Pay off all your debts <abbr title="As soon as possible">ASAP</abbr>! These can get very tricky and costly over the time as
                    discussed in <a href="http://www.dreambeyonddebt.com/5-blogs-that-inspired-me-to-pay-off-my-debt/">similar blog post</a>.
                </li>
                <li>
                    Put away money next. If you've successfully established an emergency fund and
                    paid all of your debts, you should start putting your extra money to <a href="http://www.investopedia.com/ask/answers/043015/how-much-money-should-i-have-savings-account.asp">savings fund</a>.
                </li>
                <li>
                    If you have a car, try <em>comparing insurance rates</em>, it can save you up to 75&#37; of the price! Especially when you have clean
                    drive record. You can use various online websites to compare the best offers.
                </li>
                <li>
                    <a href="#keepTheChange">Keeping the change</a> from cash purchases can save you some money, too.
                </li>
                <li>
                    <a href="#funForFree">Having fun for free</a> or at the lowest cost possible is one of the most interesting ways
                    of saying goodbye to extreme spending.
                </li>
                <li>
                    Also, <a href="#expensiveAddictions">avoiding expensive addictions</a> helps you live more efficiently.
                </li>
                <li>
                    Try to hold on to our <a href="#moneySavingPseudoCode">money saving pseudo code</a> and you'll be all fine!
                </li>
            </ul>
        </p>
    </section>

    <section id="keepTheChange">
        <h1>Keep the change</h1>
        <p>
            When getting a change from any purchase you make, take this money into a jar at your home and count
            it every 3-4 months. Look for ways to put more "cash savings" money in it, like breaking bad habits or
            when withdrawing from <abbr title="Automated teller machine">ATM</abbr>, take 5&#37; of it to the jar.
            <figure>
                <img class="img-responsive img-rounded" src="http://www.publicdomainpictures.net/pictures/140000/nahled/piggy-bank-savings-jar.jpg" alt="money jar" />
                <figcaption>Fig1. - A money jar.</figcaption>
            </figure>
        </p>
    </section>

    <section id="funForFree">
        <h1>Have fun for free</h1>
        <p>
            There are plenty of <i>affordable</i> ways of having fun. While cutting off luxuries will have consequences on the
            fun part of your life, it doesn't necessarily mean you won't have any fun anymore. You'll <i>be amazed</i> what
            can you do for free or just a few euros! Besides, changing your habits from luxury ones to ordinaries will
            probably help you <i>be more responsible</i> in wider understanding. Here's an example list of things you can do for free:
            <ul>
                <li>Workout with your body</li>
                <li>Read some books</li>
                <li>Go to community events</li>
                <li>Play a board game with friends</li>
                <li>Be creative with your mind</li>
            </ul>

        </p>
    </section>

    <section id="expensiveAddictions">
        <h1>Avoid expensive addictions</h1>
        <p>
            Bad habits can really get you <i>in struggle</i> with saving money habits. In some scenarios, these habits
            become more powerful than the person itself and thus the person becomes in a <em>need of help</em>. Many of
            addictions are also hazardous towards your health. <em>Save</em> your wallet avoiding these!
            <ul>
                <li>
                    Smoking. Harmful effects are well-known and it's expensive.
                    <figure>
                        <img class="img-responsive img-rounded" src="http://i.picresize.com/images/2016/12/28/HRdXM.jpg" alt="breaking smoking habit" />
                        <figcaption>Fig2. - Putting smoking habit away.</figcaption>
                    </figure>
                </li>
                <li>
                    Drinking alcohol <i>excessively</i>. Regular heavy drinking won't help your liver, weight gain, delirium
                    and other serious health problems.
                </li>
                <li>
                    <em>Addictive</em> drugs. Drugs like heroin, cocaine, methamphetamine are extremely physically and physically
                    addictive. It's said that famous singer and guitarist Eric Clapton has spent <a href="http://www.delrayrecoverycenter.com/10428/eric-clapton-on-life-after-a-16000-a-week-habit/">16,000 dollars a week</a>
                    for his drug problems.
                </li>
            </ul>

        </p>
    </section>

    <section>
        <h1>Examples of various budgets</h1>
        <p>
            Here are some examples of low income and high income family budgets, take it as a <i>little guide</i> on
            what to spend on and what not to.
            <ul>
                <li><a href="http://www.wikihow.com/Sample/Low-Income-Budget">Low Income Budget</a></li>
                <li><a href="http://www.wikihow.com/Sample/High-Income-Budget">High Income Budget</a></li>
            </ul>
        </p>
    </section>

    <section id="moneySavingPseudoCode">
        <h1>Money saving guide in pseudo code</h1>
        <p>
            And last, for those of our readers that are more technically capable I have made up some pseudo code for <em>
                saving
                and making
            </em> money! Here we go!
            <pre>
            <code>
            <var>var myBudget = {
                    type : &quot;wallet&quot;,
                    color: &quot;black&quot;,
                    size: 400
                    };</var>
            <var>var car = 100;</var>
            <var>var rent = 250;</var>
            <var>var food = 100;</var>
            <var>var water = 50;</var>
            <var>var clothes = 50;</var>
                //when we have spare money, we invest it to make more
                function doIHaveMoneyLeft(){
            <var>var remainder = myBudgetSize() - (car + rent + food + water + clothes);</var>
                    if(moneyLeft &gt; 0){
                        payForAllNeeds();
                        investMoney(remainder);
                        return true;
                    } else{
                        return false;
                    }
                }
                function payForAllNeeds(){
                    payFor(car);
                    payFor(rent);
                    payFor(food+water);
                    payFor(clothes);
                }
                function myBudgetSize(){
                    return myBudget[&quot;size&quot;];
                }
                function investMoney(){
                    alert(&quot;Invested!&quot;);
                }
                function run(){
                    if(doIHaveMoneyLeft()){
                        alert(&quot;You&apos;re gonna become rich!&quot;);
                    }else{
                        alert(&quot;Make more money!&quot;);
                    }
                }
                //main
                run();
            </code>
        </pre>
        </p>
    </section>

    <section>
        <h4>Used external sources</h4>
        <p>
            <ul>
                <li><a href="https://www.moneyadviceservice.org.uk/en/articles/emergency-savings-how-much-is-enough">https://www.moneyadviceservice.org.uk/en/articles/emergency-savings-how-much-is-enough</a></li>
                <li><a href="http://www.investopedia.com/ask/answers/043015/how-much-money-should-i-have-savings-account.asp">http://www.investopedia.com/ask/answers/043015/how-much-money-should-i-have-savings-account.asp</a></li>
                <li><a href="http://www.wikihow.com/Sample/Low-Income-Budget">http://www.wikihow.com/Sample/Low-Income-Budget</a></li>
                <li><a href="http://www.wikihow.com/Sample/High-Income-Budget">http://www.wikihow.com/Sample/High-Income-Budget</a></li>
                <li><a href="http://www.delrayrecoverycenter.com/10428/eric-clapton-on-life-after-a-16000-a-week-habit/">http://www.delrayrecoverycenter.com/10428/eric-clapton-on-life-after-a-16000-a-week-habit/</a></li>
                <li><a href="http://www.dreambeyonddebt.com/5-blogs-that-inspired-me-to-pay-off-my-debt/">http://www.dreambeyonddebt.com/5-blogs-that-inspired-me-to-pay-off-my-debt/</a></li>
                <li><a href="https://www.dailyworth.com/posts/2879-25-powerful-quotes-on-saving/">https://www.dailyworth.com/posts/2879-25-powerful-quotes-on-saving/</a></li>
            </ul>
        </p>
    </section>
</article>