@using MyDebtors.Models.HomeViewModel
@model NewTransactionViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Home" asp-action="AddTransaction" class="form-inline" method="post">
    <div class="form-group">
        <input asp-for="Id" />
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" name="TransactionType" value="@TransactionType.Debt" class="btn btn-default">Add Debt</button>
        <button type="submit" name="TransactionType" value="@TransactionType.Paymant" class="btn btn-default">Add Paymant</button>
    </div>
</form>